<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="stack">Stack</h1><ul><li><p><a href="st_easy.html">Easy</a></p><ul><li>Valid Parentheses
            </li></ul>
            </li>
                <li><p><a href="st_medium.html">Medium</a></p><ul><li>Evaluate Reverse Polish Rotation
                </li></ul>
                </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>