<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <blockquote>
                    <ul>
                        <li>版本号 0.4.1
                        </li>
                        <li>版权归BitTiger与Keen Wang所有.严禁下载传播。
                            <blockquote><p>如有侵权，将追究法律责任</p></blockquote>
                        </li>
                    </ul>
                </blockquote>
                <h1 id="更新日志">更新日志</h1>
                <ul>
                    <li>（10月1日）<a href="dp.html">动态规划视频</a>
                    </li>
                    <li>（9月28日）<a href="week3.html">更新：9.27日视频及代码</a>
                    </li>
                    <li>（9月26日）最近更新：Graph视频重新整理，Search in rotated sorted array重新归类
                    </li>
                    <li>（9月25日）最近更新：Tree, Graph
                    </li>
                    <li>（9月24日）最近更新：第三周视频
                    </li>
                </ul>
                <h4 id="table-of-content">Table Of Content</h4>
                <ul>
                    <li><p><strong>第一周线性结构</strong></p>
                        <ul>
                            <li><a href="week1.html">9月13日视频回放</a>
                            </li>
                            <li><a href="linear.html">线性结构视频总结</a>
                            </li>
                        </ul>
                    </li>
                    <li><p><strong>第二周树型结构</strong></p>
                        <ul>
                            <li><a href="week2.html">9月20日视频回放</a>
                            </li>
                            <li><a href="tree.html">树形相关视频总结</a>
                            </li>
                        </ul>
                    </li>
                    <li><p><strong>第三周图型结构</strong></p>
                        <ul>
                            <li><a href="week3.html">9月27日视频回放</a>
                            </li>
                            <li><a href="bt.html">BackTracking</a>
                            </li>
                            <li><a href="heapbest.html">Heap &amp; Best first search</a>
                            </li>
                            <li><a href="dfs.html">DFS</a>
                            </li>
                            <li><a href="bfs.html">Bfs</a>
                            </li>
                        </ul>
                    </li>
                    <li><p><strong>第四周高级算法</strong></p>
                        <ul>
                            <li><a href="dp.html">动态规划</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <h2 id="请在使用本书之前一定要先看以下视频">请在使用本书之前一定要先看以下视频</h2>
                <div class="gb-video" data-videoid="205077">
                    <div class="flowplayer" data-analytics="UA-68088696-2"
                         data-rtmp="rtmp://rtmp.flowplayer.org/cfx/st/" data-ratio="0.6250" data-embed="false">
                        <div class="buttons">
                            <span class="active">1x</span>
                            <span>1.5x</span>
                            <span>2x</span>
                        </div>
                        <div class="endscreen text-center">


                            <div class="vip-bg"
                                 style="margin-top: 15%; padding-bottom: 20px; box-shadow: none; margin-right: 10px; margin-left: 10px;">
                                <a href="/premiumMembership">
                                    <div class="text-center">
                                        <h1 class="vip-header" style="color:white; font-size:20px;">
                                            <strong>加入太阁VIP</strong></h1>
                                    </div>

                                    <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"
                                         style="padding-top: 20px; color: rgb(51, 122, 183); visibility: hidden; animation-duration: 1s; animation-delay: 0.2s; animation-name: none;">
                                        <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="padding:5px;">
                                            <div style="display:inline-block; width:50px; height:50px;">
                                                <img src="//cdn-i2.tianmaying.com/public/img/icons/vipLarge.png"
                                                     style="width:35px;">
                                            </div>
                                            <p style="font-size:15px; font-weight:bold; padding-left:15px;">
                                                太阁程序员面试宝典（算法设计、系统设计、数据科学、职业发展、实战项目）</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 text-center" style="padding:5px;">
                                            <span class="purple-microphone"></span>
                                            <p style="font-size:15px; font-weight:bold;">VIP用户能够观看硅谷之路全部上百篇视频的完整版 VS
                                                普通用户能够观看最近三天视频的完整版</p>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12 text-center" style="padding:5px;">
                                            <span class="purple-discussion"></span>
                                            <p style="font-size:15px; font-weight:bold; padding-right:15px;">
                                                支持太阁实验室推出更多更好的内容</p>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <a class="fp-toggle">Play video again</a>
                        </div>
                    </div>
                </div>


            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>