<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="树型结构">树型结构</h1><ul><li><a href="week2.html">9月20日视频回放</a>
            </li>
                <li><p><a href="recursion.html">Recursion</a></p><ul><li><p><a href="t_r_easy.html">Easy</a></p><ul><li>Symmetric Tree
                </li></ul>
                </li>
                    <li><p><a href="t_r_medium.html">Medium</a></p><ul><li>Binary Upside Down
                    </li></ul>
                    </li>
                    <li><p>Hard <em>等待开课</em></p></li></ul>
                </li>
                <li><p><a href="binaryTree.html">Binary Tree</a></p><ul><li><p><a href="t_bt_easy.html">Easy</a></p><ul><li>Search and Insert a Node in BST
                </li></ul>
                </li>
                    <li><p><a href="t_bt_medium.html">Medium</a></p><ul><li>Validate a BST
                    </li>
                        <li>Level Order Traversal
                        </li>
                        <li>longest consecutive sequence
                        </li>
                        <li>BST longest successor
                        </li></ul>
                    </li></ul>
                </li></ul>
                <ul><li><p><a href="binarySearch.html">Binary Search</a></p><ul><li><p><a href="bs_easy.html">Easy</a></p><ul><li>First Bad Version
                </li></ul>
                </li>
                    <li><p><a href="bs_medium.html">Medium</a></p><ul><li>Search a 2D matrix
                    </li></ul>
                    </li>
                    <li><p><a href="bs_hard.html">Hard</a></p><ul><li>Search in Rotated Sorted Array​
                    </li></ul>
                    </li></ul>
                </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>